body {
    font-family: sans-serif;
    background: #0f0f0f;
    color: white;
    margin: 0;
}

.container {
    padding: 20px;
}

h1 {
    text-align: center;
    color: #00ff99;
}

.add-box {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

input {
    flex: 1;
    padding: 10px;
    border-radius: 10px;
    border: none;
}

button {
    background: #00ff99;
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
}

.habit {
    background: #1a1a1a;
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.done {
    text-decoration: line-through;
    color: gray;
}
